/* css varaibles  */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104 0.8);

}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}
body{
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;

}
.btn{
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}
img {
  max-width: 100%;

}
.wrapper{
  display: grid;
  grid-gap: 20px;

}
.main-nav ul{
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a{
  background: var(--primary);
  display:block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);

}
.main-nav a:hover{
  background: var(--dark);
  color: var(--light);

}

/* top-container */
.top-container {
  display: grid;
  grid-gap: 60px;
  grid-template-areas:
  'showcase showcase top-box-a'
  'showcase showcase top-box-a';
}

/* showcase */
.showcase {
  grid-area: showcase;
  max-width: 500px;
  min-width: 300px;
  max-height: 600px;
  min-height: 200px;
  background: url(../img/me.jpeg);
  background-size: cover;
  background-position: left;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase h1 {
  font-size: 2.5rem;
  text-align: end;
  
  margin-top: 85%;
  
  color: var(--light);
}

.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}
.top-box .p-about{
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
}
.top-box-a{
  grid-area: top-box-a;
}


/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box{
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
/* Info */
.info{
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem; 

}



.contact{
  display: grid;
  box-shadow: var(--shadow);
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  }
  .form input{
    height: 2.7rem;
    width: 45rem;
  }
  .form textarea{
    width: 45rem;
  }
  .form .btn{
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
  .right-box{
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  }
  

/* Footer */
footer{
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Media Queries */
@media(max-width: 700px){
  .top-container{
      grid-template-areas: 
      'showcase showcase'
      'top-box-a ';
  }
  .showcase h1 {
      font-size: 2.5rem;

  }
  .main-nav ul{
      grid-template-columns: 1fr;
  }
  .info {
      grid-template-columns: 1fr;

  }
  .info .btn {
      display: block;
      text-align: center;
      margin: auto;        
  }
}
@media(max-width: 500px){
  .top-container{
      grid-template-areas: 
      'showcase'
      'top-box-a'; 
     }
}